.container-FPF-phone {
    margin: 0 4%;
}

/* image and logos block css special rules*/
.image-block {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10%;
}

.image-block > img {
    max-width: 85%;
    /*pour contrer tout le blanc autour de l'image et se rapprocher du bord*/
    position: relative;
    right: 55px;
}

.logos {
    /*trop de blanc autour de l'image du produit donc il faut rogner dessus*/
    position: relative;
    right: 105px;
    padding-bottom: 5%;
}

.logos > div {
    margin-bottom: 15%;
}

.logo-and-image img {
    max-height: 30px;
    margin-right: 8%;
}

.face-logo{
    padding-left: 5%;
}

.lipo-logo img{
    max-height: 35px;
    margin-right: 2%;
}