/* AKORE */
.home-imgIntro{
    position: relative;
    width: 100%;
    min-height: 565px;
}
.home-div-onImage {
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    right: 10%;
    width: 718px;
    /* max-width: 100%; */
}

.home-title-bold{
    font-family: 'Poppins', sans-serif;
    color: #111426;
    font-size: 64px;
    font-weight: 600;
    margin: 0;
}
.home-title{
    font-family: 'Poppins', sans-serif;
    color: #111426;
    font-size: 64px;
    font-weight: 400;
    margin: 0;
    
}
.home-p-bold{
    font-family: 'Poppins', sans-serif;
    color: #111426;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    
}
.home-p{
    font-family: 'Poppins', sans-serif;
    color: #111426;
    font-size: 36px;
    font-weight: 300;
    margin: 0;
    
}
.line-bold{
    width: 86px;
    height: 8px;
    background-color: #111426;
}

.home-p-desc{
    font-family: 'Poppins', sans-serif;
    width: 430px;
    font-size: 16px;
}

.home-p-desc-2{
    font-family: 'Poppins', sans-serif;
    width: 580px;
}

.title-liosome{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}

.akore-home-container-2{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.align-justified{
    text-align: justify;
}

.icone-container-3{
    height: 110px;
    width: auto;
}

.akore-home-container-3{
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.akore-home-icone-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.akore-home-icone-text h3{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #111426;
    font-size: 20px;
}
.akore-home-icone-text img{
    margin-bottom: 30px;
}

.container-4-image-text {
    position: relative;
}

.container-4-image-text img {
    display: block; 
    width: 100%; 
    cursor: pointer;
}

.container-4-image-text div{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.home-c4-h2{
    
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-weight: 600;
    font-size: 64px;

}
.home-c4-h3{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #6D6869;
    font-weight: 400;
    font-size: 32px;
}
