/*general classes*/
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    font-family: 'poppins';
    color: #474748;
    margin: 0;
}

.title {
    text-transform: uppercase;
}

.brown-text {
    color: #CE886D;
}

.underligned {
    border-bottom: 1px solid #ADB5BD;
}

.logo-and-image {
    display: flex;
    align-items: center;
    margin: 2% 0;
}

.logo-and-image img {
    max-height: 40px;
    margin-right: 1%;
}

.pargraph {
    margin-top: 2%;
}

.checkbox-square {
    background: #F9F9F9;
    max-width: 550px;
    border-radius: 3%;
    margin-top: 4%;
    padding: 2% 2%;
    width: 100%;
}

.check-line {
    display: flex;
    align-items: center;
}

.check-mark {
    font-size: xx-large;
    margin: 0;
}


/* description block special css rules */

#description-block {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    width: 70%;
    max-width: 1224px;
}

#right-block {
    max-width: 900px;
}


/* benefits block special css rules */

.benefits-block{
    width: 70%;
    max-width: 1224px;
    padding-top: 5%;
}

.benefits-title {
    display: flex;
    justify-content: space-between;
}

.benefits-logos-title{
    display: flex;
}

.small-text {
    font-size: 12px;
}

.benefits-description {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.benefits-description > div {
    flex: 1; /*assure que les deux côtés font toujours la même taille*/
    max-width: 45%;
}

.benefits-block .checkbox-square {
    padding: 0 6% 10%;
}

.benefits-block .check-mark {
    font-size: x-large;
}

.benefits-description h3 {
    margin-top: 10%;
    margin-bottom: 2%;
    /*keep bold but less bold*/
    font-weight: 600;
}

.benefits-left-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-title img {
    max-height: 40px;
}

.france-picto{
    margin-right: 5%;
}

.benefits-title .logo-and-image {
    padding: 0 2%;
}

.benefits-title .text {
    padding: 0 4%;
}

.benefits-description img {
    margin-top: 6%;
    width: 80%;
}

/* ingredients block special css rules */
.ingredients-image-background {
    width: 100%;
    background-image: url('../../images/AKORE WEBSITE/IMAGES/fond-creme.png');
    min-height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*this block is not centered but a litle on the left of the page*/
.ingredients-block {
    width: 50%;
    padding-top: 5%;
    margin-left: 15%
}