.footer-container {
    background-color: black;
    display: flex;
    align-items: center;
    padding: 3% 0 3% 30%;
}

.footer-container img {
    max-width: 15vw;
    margin-right: 10%;
}

.p-footer-navigation{
    font-family: 'Poppins', sans-serif;
    color: #111426;
    font-size: 24px;
}

.p-footer-menu{
    font-family: 'Poppins', sans-serif;
    color: #6D6869;
    font-size: 16px;
    cursor: pointer;
}