@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Montserrat:wght@200&family=Poppins&display=swap');

.container-all {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-product-all {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 10px;
    justify-content: center;
    padding-top: 100px;
}

@media screen and (max-width: 1366px) {
    .container-product-all {
        padding-top: 10px;
    }

}