.container-FPF-phone-MP > * {
    padding: 0 2%;

}


/* benefits */
.benefits-block-phone-MP {
    background-color: #E9E2DC;
    padding: 5% 0 5% 3%;
}

.benefits-block-phone-MP * {
    position: relative;
    z-index: 1;
}

.benefits-block-phone-MP > img {
    height: 35%;
    position: absolute;
    right: 0;
    top: 1625px;
    z-index: 0;
}

.benefits-block-phone-MP .discover-compo{
    margin-bottom: 0;
    justify-content: left;
}

.benefits-block-phone-MP .logo-and-image img {
    margin-right: 5%;
    max-height: 35px;
}

.last-MP-Check-Benefits {
    max-width: 50%;
}

.img-femme-MP-phone {
    width: 100vw;
    padding: 0;
    margin-bottom: 8%;
}

/* benefits list */
.benefits-list-MP-phone .title {
    padding-bottom: 3%;
}

.benefits-list-MP-phone > div {
    margin-bottom: 8%;
}


/* ingredients */
#ingredients-phone-MP {
     background-color: #FEECDE;
     padding: 2%;
 }