.product-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list-title:hover {
    cursor: pointer;
}

.product-list-title > img {
    height: fit-content;
}

.selected, .selected .text {
    color: #CE886D;
    border-color: #CE886D;
}