.product-list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
}

.product-list-title:hover {
    cursor: pointer;
}

.product-list-title > img {
    height: fit-content;
}

.product-list-title + div {
    display: none;
    padding-left: 5%;
}

.selected + div {
    display: block;
    padding-bottom: 2%;
}

.selected, .selected .text {
    color: #CE886D;
    border-color: #CE886D;
}